@import url(https://fonts.google.com/specimen/Outfit);

body {
    background-color:  hsl(212, 45%, 89%);
    display: grid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
}
.hero_section {
    display: grid;
    justify-items: center;
    border-radius: 20px;
    border: none;
    background-color:  hsl(0, 0%, 100%);
    text-align: center;
    width: 250px;
}

.img_section img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    padding-top: 10px;
}
.bigText {
    font-size: 10px;
    font-weight: 700;
}

.smallText {
    font-size: 15px;
    font-weight: 400;
}

